<!DOCTYPE html>
<html>
<head>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' href="indexStyle.css"/>
    <link href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow' rel='stylesheet' type='text/css'>
</head>
<body>

<!-- Main section -->
<div class="main">


    <div class="header">



        <ul class="nav">
            <img src="http://i1077.photobucket.com/albums/w480/despana101/HeartLogo%20A_zpslhky9ula.png
" alt="some_text">



            <li>HOME</li>
            <li>ABOUT</li>
            <li>CONTACT</li>
            <li>SIGN UP</li>

            <h1>MED CAPTURE</h1>

        </ul>


    </div>


    <video autoplay loop="" src="../video/medical.mp4"> </video>

    <div class="content container">



    </div>
</div>

<!-- Footer -->
<div class="supporting">

    <div class="col">
        <img src="http://cdn.flaticon.com/png/256/30988.png">
        <h2>RESEARCH</h2>
        <p>LOG IN YOUR PATIENTS VISITS</p>
    </div>

    <div class="col">
        <img src="http://cdn.flaticon.com/png/256/26589.png">
        <h2>INFORMATICS</h2>
        <p>USE CUTTING EDGE TECHNOLOGY TO CAPTURE YOUR DATA</p>

    </div>

    <div class="col">
        <img src="http://cdn.flaticon.com/png/256/45945.png">
        <h2>CAPTURE</h2>
        <p>THE NEWEST SYSTEM IN ELECTRONIC MEDICAL RESEARCH</p>

    </div>



</div>

</body>
</html>